/* style Grid */

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3px;
  margin-top: 10px;
}

/* style for phone */
@media (max-width: 767px) {
  .row {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.column {
  padding: 5px 5px 15px 10px;
}

/* style list */
.list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 3px;
}

/* style button */
button {
  padding: 10px 15px;
  border: none;
  background-color: #bbb;
  cursor: pointer;
  &:hover {
    background-color: #666;
    color: white;
  }
}
